@import url('https://fonts.googleapis.com/css?family=Kanit');

html{
    scroll-behavior: smooth;
}

.section1{
    background: linear-gradient(to bottom, #53A6D8, #c0ebe5);
}
.section2{
     min-height: 800px;
    background: linear-gradient(to bottom, #30475e, #7e8a97);
    line-height: 50px ;
    
}

section:nth-of-type(2) {
     min-height: 800px;
    background:linear-gradient(to bottom, #7e8a97, #BEFFFF);
}

section:nth-of-type(3) {
     min-height: 800px;
    background:linear-gradient(to bottom,#BEFFFF, #89CCF7 );
}

section:nth-of-type(4) {
     min-height: 800px;
     background:linear-gradient(to bottom,#89CCF7, #53A6D8 );
}

section:nth-of-type(5) {
     min-height: 800px;
    background:linear-gradient(to bottom,#53A6D8, #2D83B6 );

}

section:nth-of-type(6) {
     min-height: 800px;
    background:linear-gradient(to bottom,#2D83B6, #c0ebe5 );

}


.nav-link:hover, .nav-link:focus {
    color: #f2709c;
}

.border1{
    border: 5px solid rgb(35, 61, 131);
    width: 50%;
    border-radius: 30px;
  }

.border2{
    border: 5px solid rgb(35, 61, 131);
    width: 100%;
    border-radius: 30px;
  }

  .border3{
    border: 5px solid rgb(35, 61, 131);
    width: 40%;
    border-radius: 30px;
  }

.img1{
    width: 100%;
    height:100%;
}

.img2{
    width: 30%;
    height:30%;
}

.img3{
    width: 80%;
    height:90%;
}

.img4{
    width: 20%;
    height:20%;
}

.font1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 28px;
    font-weight: bold;
}

.font2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 22px;
}

.font2b{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-style: italic;

}

.font3{
    font-family:"Garamond";
    font-weight: bold;
    font-size: 40px;
}

.font4{
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 24px;
}

.font5{
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 20px;
}

.font6{
    font-family:'Kanit';
    font-size:30px;
    font-weight: bold;
    
}

.font7{
    font-family: 'Kanit';
    font-weight: bold;
     font-size:50px;

}

.font8{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 24px;
}

.font9{
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 20px;
}

.font10{
    font-family: 'Kanit';
    font-weight: bold;
     font-size:35px;

}


.font11{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
}

.font12{
    font-size: 20px;
    color: #4b4e52;
}